footer.footer
  .container
    .foooter-parts
      .foooter-parts__part
        p.footer__text Калининград, Каштановая аллея, 177Б
        a.footer__link.link.link--white(href="tel:84012564488") +7 (4012) 56-44-88

      .foooter-parts__part
        p.footer__text Советск, ул. Александра Невского, 2Б
        a.footer_link.link.link--white(href="tel:84016135200") +7 (40161) 3-52-00
      .foooter-parts__part
        a.footer__link.link.link--white(href="mailto:selektav@mail.ru") selektav@mail.ru, selektgr@mail.ru
        p.footer__text Все права защищены
script(src='/js/libs.min.js')
script(src='/js/bundle.js')
