header.header.header--fixed
  .container.header__container
    .header__part.header__part--address
      | Калининград, ул. Каштановая аллея, 177 Б  |  Советск, ул. Александра Невского, 2 Б
    .header__part.header__part--contacts


